/* Reset default spacing */
body {
    margin: 0;
    padding: 0;
}
/* Unvisited link */
a:link {
    color: #E45A92;
}

/* Visited link */
a:visited {
    color: lightskyblue;
}
a:hover{
    color:deeppink;
}

:root {
    --font-family: 'Times New Roman', sans-serif;
    --margin: 20px;
    --padding: 20px;
}

* {
    font-family: var(--font-family);
    color: var(--text-color);
    margin: var(--margin);
    padding: var(--padding);
}


table {
    width: 90%;
    border: 1px solid white;
    border-collapse: collapse;
    margin: 20px 0;
    background-color:#6A0066 ;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px 15px;
    border: 1px solid white;
    text-align: left;
    --text-color:white;
}

th {
    background-color: #A376A2;
    font-weight: bold;
}

tr:hover {
    background-color:#9B177E ;
}

/* Responsive table for smaller screens */
@media (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        position: relative;
        padding-left: 50%;
        border: none;
        border-bottom: 1px solid #eee;
    }

        td::before {
            content: attr(data-label);
            position: absolute;
            left: 15px;
            font-weight: bold;
        }
}